@media (max-width:767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }
}

@media (min-width:768px) {
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean-search {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.navigation-clean-search .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-search .navbar-brand:hover {
  color: #222;
}

.navigation-clean-search .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-search .navbar-toggler:hover, .navigation-clean-search .navbar-toggler:focus {
  background: none;
}

.navigation-clean-search .navbar-toggler {
  color: #888;
}

.navigation-clean-search .navbar-collapse, .navigation-clean-search .form-inline {
  border-top-color: #ddd;
}

.navigation-clean-search .navbar-nav a.active, .navigation-clean-search .navbar-nav>.show>a {
  background: none;
  box-shadow: none;
}

.navigation-clean-search.navbar-light .navbar-nav a.active, .navigation-clean-search.navbar-light .navbar-nav a.active:focus, .navigation-clean-search.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-search .action-button, .navigation-clean-button .action-button:active {
  background: #b7ad2e;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

.navigation-clean-search .action-button:hover, .navigation-clean-search .action-button:focus {
  background: #a0982e;
}

.navigation-clean-search .form-inline label {
  color: #ccc;
}

.navigation-clean-search .form-inline .search-field {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.navigation-clean-search .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}

#menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.badge {
  background-color: #5f9ca8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  margin-left: -20px;
  margin-top: -15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* popover Body*/

#popoverBody {
  list-style-type: none;
  margin: 0;
  padding: 0 0 10px 0;
  color: #333333;
}

.button-checkout, .button-checkout:active {
  background: #b7ad2e;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  display: block;
  text-align: center;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
  width: 90%;
}

.button-checkout:hover, .button-checkout:focus {
  background: #a0982e;
}

#popover {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#main-content{
  padding-top: 75px;
}
